[user]
    name = VictorNovais
    email = victor.novais@sieve.com
[color]
    diff = auto
    status = auto
    branch = auto
    pager = true
    ui = auto
[color "branch"]
    current = green reverse
    local = yellow
    remote = red
[color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green
[color "status"]
    added = yellow
    changed = red
    untracked = red reverse
[alias]
    this = !git init && git add . && git commit -m \"initial commit\"
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\t=> \\2/' | sort
    dev = checkout develop
    master = checkout master
    ad = add
    br = branch
    ch = checkout
    co = commit -m
    df = diff
    pl = pull
    ps = push
    st = status
    re = rebase